.venv/
bin/
lib/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints
*/.ipynb_checkpoints/*

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

data/raw/*
data/processed/*

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db